.leatest-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.leatest-news-p {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  margin-top: 20px;
  margin-bottom: 100px;

}

.img-seciont-cl-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img1-l {
  width: 100%;
  height: 340px;
}

.news-btn {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.02em;
  padding: 2px 35px;
  border-radius: 80px;
  background: #F0C53E;
  border: none;
  margin-top: 40px;

}

.news-btn2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.02em;
  padding: 4px 12px;

  border-radius: 80px;
  background: #F0C53E;
  border: none;
  position: absolute;
  bottom: 10%;
  left: 43%;
  width: 100px;



}

.news-btn-main-content {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.02em;
  padding: 4px;
  color: #2C2D32;


  border-radius: 80px;
  background: #F0C53E;
  border: none;
  position: absolute;
  bottom: 10%;
  left: 15%;
  width: 154px;

}


.com-form {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color:
    #7F2736;
}

.cardimg {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.leatestimg-section {

  padding-right: 4rem;
}

.p-content-card {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
}

.country-popular-p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;

}



.lmg-content {
  margin-right: 40px;
  position: relative;
}


@media only screen and (max-width: 1338px) {
  .leatest-content {

    grid-template-columns: 1fr;
  }}
 
@media only screen and (max-width: 998px) {
  .leatest-content {

    grid-template-columns: 1fr;
  }
 

  .img-seciont-cl-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .leatest-container-main {
    margin-top: 500px;
  }
}

@media only screen and (max-width: 598px) {
  .leatest-container-main {
    margin-top: 580px;
  }
}