.color-item {
color:
    #7F2736;

}

.color-item2 {
  color:
    #2F327D;

}
.promo-p{
 
font-size: 24px;
font-weight: 400;
line-height: 43px;
letter-spacing: 0em;

width: 100%;

}
.promotional-content{
  width: 70%;
  margin: 0 auto;
}