.watch-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 250px;
}
.media-img{
  position: absolute;
  top: 50%;
  right: 50%;
}
.watch-heading{
  font-family: Poppins;
font-size: 36px;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;

}
.watching-content{
  font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 43px;
letter-spacing: 0.02em;

color: 
#2C2D32 ;
}

@media only screen and (max-width: 1100px) {
  .watch-container{
    grid-template-columns: 1fr;
  }
  .watch-heading{
    font-size: 25px;
    line-height: 40px;
    width: 70%;
  }
  }
@media only screen and (max-width: 798px) {
  .watch-container{
    grid-template-columns: 1fr;
  }
  .watch-heading{
    font-size: 25px;
    line-height: 40px;
    width: 70%;
  }
  .watch-img{
    height: 450px;
    width: 100%;
  }
  }